.hero {
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 800px;
  padding-top: 104px;
  padding-bottom: 200px;
  background: radial-gradient(
      112.11% 111.8% at 100% 0%,
      #4075ff 0%,
      rgba(64, 117, 255, 0) 100%
    ),
    radial-gradient(
      111.72% 111.46% at 27% 0%,
      #16d9a6 0%,
      rgba(22, 217, 166, 0) 100%
    ),
    #9466ff;

  @media (max-width: 1460px) {
    height: 680px;
  }

  @media (max-width: 1170px) {
    height: 600px;
  }

  @media (max-width: 940px) {
    height: 500px;
  }

  @media (max-width: 760px) {
    height: 800px;
    padding-top: 40px;
  }

  @media (max-width: 380px) {
    height: 690px;
  }

  &__container {
    position: relative;
  }

  &__slider {
    overflow: hidden;
    position: absolute !important;
    height: max-content;
    top: 0;
    right: 0;
    left: 245px;

    @media (max-width: 1460px) {
      left: 0;
    }

    @media (max-width: 1215px) {
      left: 150;
    }

    @media (max-width: 990px) {
      top: 35px;
      left: 100px;
    }

    @media (max-width: 940px) {
      top: -20px;
      left: 50px;
    }

    @media (max-width: 760px) {
      padding-top: 160px !important;
      top: 170px;
      left: -130px;
      overflow-y: auto !important;
    }

    @media (max-width: 380px) {
      top: 95px;
    }

    &__slide {
      position: relative;
      width: 190px !important;

      @media (max-width: 1460px) {
        width: 150px !important;
      }

      @media (max-width: 990px) {
        width: 110px !important;
      }

      &__img {
        width: 475px;
        height: 580px;

        @media (max-width: 1460px) {
          width: 375px;
          height: 480px;
        }

        @media (max-width: 990px) {
          width: 275px;
          height: 380px;
        }
      }

      &__popup {
        cursor: auto;
        display: flex;
        align-items: stretch;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: calc(54% + 8px);
        left: -70px;
        right: 27px;
        padding: 12px;
        border-radius: 12px;
        background-color: #3d4555;
        transition:
          opacity 0.2s ease-in-out,
          visibility 0.2s ease-in-out;

        @media (max-width: 1460px) {
          top: calc(54% + 15px);
          left: -88px;
          right: 8px;
        }

        @media (max-width: 990px) {
          top: calc(54% + 25px);
          left: -115px;
          right: -3px;
        }

        @media (max-width: 760px) {
          top: -95px;
          left: 0px;
          right: -120px;
        }

        &__arrow {
          position: relative;
          display: block;

          &::before {
            position: absolute;
            top: -20px;
            left: 196px;
            content: '';
            width: 14px;
            height: 8px;
            background-image: url(/img/popup-arrow.svg);
            background-repeat: no-repeat;
            background-position: center center;

            @media (max-width: 1460px) {
              left: 194px;
            }

            @media (max-width: 990px) {
              left: 191px;
            }

            @media (max-width: 760px) {
              top: auto;
              bottom: -20px;
              transform: rotate(180deg);
            }
          }
        }

        &__img {
          width: 72px;
          height: 72px;
          margin-right: 8px;
        }

        &__inner {
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: self-start;
        }

        &__title {
          min-width: 142px;
          margin-bottom: 6px;
          color: #e8e9ea;
          font-weight: 700;
          line-height: 20px;

          @media (max-width: 760px) {
            max-width: 142px;
          }
        }

        &__price {
          color: #16d9a6;
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    position: relative;

    &__subtitle {
      position: absolute;
      top: 40px;
      left: 187px;
      color: #e8e9ea;
      font-size: 22px;
      font-weight: 400;

      @media (max-width: 1170px) {
        top: 30px;
        left: 115px;
      }

      @media (max-width: 940px) {
        font-size: 18px;
        top: 20px;
        left: 85px;
      }

      @media (max-width: 715px) {
        font-size: 16px;
        top: 7px;
        left: 56px;
      }

      @media (max-width: 490px) {
        top: -3px;
        left: 64px;
      }
    }

    &__subtitle_lang {
      left: 125px;
      top: 25px;

      @media (max-width: 1170px) {
        top: 15px;
        left: 95px;
      }

      @media (max-width: 940px) {
        top: 10px;
        left: 65px;
      }

      @media (max-width: 715px) {
        top: -3px;
        left: 43px;
      }

      @media (max-width: 490px) {
        top: -9px;
      }
    }

    &__text {
      color: #e8e9ea;
      font-size: 260px;
      font-weight: 700;

      @media (max-width: 1540px) {
        font-size: 200px;
      }

      @media (max-width: 1170px) {
        font-size: 160px;
      }

      @media (max-width: 940px) {
        font-size: 120px;
      }

      @media (max-width: 715px) {
        font-size: 76px;
      }

      @media (max-width: 475px) {
        font-size: 62px;
      }

      @media (max-width: 380px) {
        font-size: 52px;
      }
    }
  }
}

.ad {
  position: absolute;
  top: -80px;
  right: 15px;
  padding: 2px 4px;
  padding-right: 27px;
  height: 28px;
  line-height: 24px;
  background-image: url('/img/info-icon.svg');
  background-repeat: no-repeat;
  background-position: right 2px center;
  color: #a5a8ad;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  background-color: rgba(16, 24, 40, 0.4);

  @media (max-width: 760px) {
    top: -20px;
  }
}
